@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: 200% 0, 0 0;
  }
  100% {
    background-position: -100% 0, 0 0;
  }
}


.coin-button {
  @apply relative before:absolute
  before:inset-0 before:rounded-[inherit]
  before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.2)_50%,transparent_75%,transparent_100%)]
  dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.3)_50%,transparent_75%,transparent_100%)]
  before:bg-[length:250%_250%,100%_100%] before:bg-[position:200%_0,0_0] before:bg-no-repeat;
}

.coin-button::before {
  animation: shimmer 2s linear infinite;
}

.button {
  @apply mt-10 bg-navy py-2 px-6 md:py-5 md:px-12 text-white rounded-2xl
  text-2xl md:text-4xl shadow-[4px_4px_0_rgb(60,100,180)]
  transition-all duration-150 hover:bg-lightNavy cursor-pointer coin-button;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideContentOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
